.c--modal {
  @apply
  flex
  items-end
  md:items-center
  md:justify-center
  w-full
  ;

  &-overlay {
    @apply bg-black/40;
  }

  &-content {
    @apply
    flex
    flex-col
    items-start
    w-full
    bg-white
    px-4
    py-10
    md:px-10
    md:py-20
    2xl:px-20
    relative
    ;
  }
}
