@tailwind utilities;

:root{
  --p-primary-color: #FF6F00;       /* Основной оранжевый */
  --color-accent: #FF8F00;         /* Второй яркий оранжевый */
  --color-background: #FFA040;     /* Меланжевый апельсин (фон) */
  --color-active: #BF360C;         /* Темно-оранжевый для активных элементов */
  --color-highlight: #8B2C1D;      /* Цвет вина/корицы для выделений */
}
